<h2>Profile Page:</h2>
<div class="profile">
    <div class="profile__data" *ngFor="let user of user">
        <ul>
            <li class="name">
                <span>Name:</span>
                <h4>{{user.name}} {{user.surname}}</h4>
            </li>

            <li>
                <span>Date of Birth:</span>
                <h5>{{user.date}}</h5>
            </li>
            <li class="citys">
                <span>Citys:</span>
                <div *ngFor="let city of city">
                    <h5>{{city.name}};</h5>
                </div>


                <form class="city__form" [formGroup]="formCity" (ngSubmit)="addCity()" action="">
                    <input placeholder="Name of the City" type="text" formControlName="nameCity">
                    <button class="button_add" type="submit" [disabled]="form.invalid">Add</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="profile__change">
        <form [formGroup]="form" (ngSubmit)="submit()" action="">
            <b>Edit Profile</b>
            <input placeholder="Name" type="text" formControlName="name">
            <input placeholder="Surname" formControlName="surname" type="text">
            <input placeholder="data" formControlName="date" type="date">
            <button type="submit" [disabled]="form.invalid">Change</button>
        </form>
    </div>
</div>
<span class="logout" (click)="onLogout()">Log Out</span>